node-red/sample_flow.json
[{"id":"dea9ecb1.7ae268","type":"mqtt in","z":"7805686.aa4fd98","name":"","topic":"button_glove","qos":"0","datatype":"auto","broker":"","x":190,"y":2220,"wires":[["5268685e.ee181"]]},{"id":"5268685e.ee181","type":"json","z":"7805686.aa4fd98","name":"","property":"payload","action":"obj","pretty":false,"x":370,"y":2220,"wires":[["cedfdd82.66af8"]]},{"id":"cedfdd82.66af8","type":"function","z":"7805686.aa4fd98","name":"ButtonSeperator","func":"var out = \"\"\nvar count = 0;\nif(msg.payload.b1 != flow.get(\"b1\")){\n    if(msg.payload.b1 > flow.get(\"b1\")){\n        out = out + \"B1+\";\n    }\n    flow.set(\"b1\", msg.payload.b1);\n}\nif(msg.payload.b2 != flow.get(\"b2\")){\n    if(msg.payload.b2 > flow.get(\"b2\")){\n        out = out + \"B2+\";}\n    flow.set(\"b2\", msg.payload.b2);\n}\nif(msg.payload.b3 != flow.get(\"b3\")){\n    if(msg.payload.b3 > flow.get(\"b3\")){\n        out = out + \"B3+\";}\n    flow.set(\"b3\", msg.payload.b3);\n}\nif(msg.payload.b4 != flow.get(\"b4\")){\n    if(msg.payload.b4 > flow.get(\"b4\")){\n        out = out + \"B4+\";}\n    flow.set(\"b4\", msg.payload.b4);\n}\nif(msg.payload.b5 != flow.get(\"b5\")){\n    if(msg.payload.b5 > flow.get(\"b5\")){\n        out = out + \"B5+\";}\n    flow.set(\"b5\", msg.payload.b5);\n}\nif(msg.payload.b6 != flow.get(\"b6\")){\n    if(msg.payload.b6 > flow.get(\"b6\")){\n        out = out + \"B6+\";}\n    flow.set(\"b6\", msg.payload.b6);\n}\nif(msg.payload.b7 != flow.get(\"b7\")){\n    if(msg.payload.b7 > flow.get(\"b7\")){\n        out = out + \"B7+\";}\n    flow.set(\"b7\", msg.payload.b7);\n}\nif(msg.payload.b8 != flow.get(\"b8\")){\n    if(msg.payload.b8 > flow.get(\"b8\")){\n        out = out + \"B8+\";}\n    flow.set(\"b8\", msg.payload.b8);\n}\nif(msg.payload.b9 != flow.get(\"b9\")){\n    if(msg.payload.b9 > flow.get(\"b9\")){\n        out = out + \"B9+\";}\n    flow.set(\"b9\", msg.payload.b9);\n}\nif(msg.payload.b10 != flow.get(\"b10\")){\n    if(msg.payload.b10 > flow.get(\"b10\")){\n        out = out + \"B10+\";}\n    flow.set(\"b10\", msg.payload.b10);\n}\nif(msg.payload.b11 != flow.get(\"b11\")){\n    if(msg.payload.b11 > flow.get(\"b11\")){\n        out = out + \"B11+\";}\n    flow.set(\"b11\", msg.payload.b11);\n}\nif(msg.payload.b12 != flow.get(\"b12\")){\n    if(msg.payload.b12 > flow.get(\"b12\")){\n        out = out + \"B12+\";}\n    flow.set(\"b12\", msg.payload.b12);\n}\nif(msg.payload.b13 != flow.get(\"b13\")){\n    if(msg.payload.b13 > flow.get(\"b13\")){\n        out = out + \"B13+\";}\n    flow.set(\"b13\", msg.payload.b13);\n}\nif(msg.payload.b14 != flow.get(\"b14\")){\n    if(msg.payload.b14 > flow.get(\"b14\")){\n        out = out + \"B14+\";}\n    flow.set(\"b14\", msg.payload.b14);\n}\nif(msg.payload.b15 != flow.get(\"b15\")){\n    if(msg.payload.b15 > flow.get(\"b15\")){\n        out = out + \"B15+\";}\n    flow.set(\"b15\", msg.payload.b15);\n}\ncount = msg.payload.b1 + msg.payload.b2 + msg.payload.b3 + msg.payload.b4 +msg.payload.b5 + msg.payload.b6 + msg.payload.b7 + msg.payload.b8 + msg.payload.b9 + msg.payload.b10 + msg.payload.b11 + msg.payload.b12 + msg.payload.b13 + msg.payload.b14 + msg.payload.b15;\nflow.set('buttonCount', count);\n\nmsg.buttonCount = flow.get('buttonCount');\n\nmsg.payload = out.slice(0,-1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nif(flow.get('buttonCount')=='undefined'){\n    flow.set('buttonCount',0);\n}\n","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\nflow.set(\"b1\", undefined);\nflow.set(\"b2\", undefined);\nflow.set(\"b2\", undefined);\nflow.set(\"b3\", undefined);\nflow.set(\"b4\", undefined);\nflow.set(\"b4\", undefined);\nflow.set(\"b5\", undefined);\nflow.set(\"b6\", undefined);\nflow.set(\"b7\", undefined);\nflow.set(\"b8\", undefined);\nflow.set(\"b9\", undefined);\nflow.set(\"b10\", undefined);\nflow.set(\"b11\", undefined);\nflow.set(\"b12\", undefined);\nflow.set(\"b13\", undefined);\nflow.set(\"b14\", undefined);\nflow.set(\"b15\", undefined);","x":550,"y":2220,"wires":[["ab014868.0da45"]],"info":"This function first sets/resets button state when turning on the glove.\n\nThen if the set/reset values are smaller than the incomming values, create an output string for the switch node. \n\nI can also just use the button numbers in the switch node so I am looking into that. "},{"id":"ab014868.0da45","type":"switch","z":"7805686.aa4fd98","name":"Page_0","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"B1","vt":"str"},{"t":"eq","v":"B2","vt":"str"},{"t":"eq","v":"B3","vt":"str"},{"t":"eq","v":"B4","vt":"str"},{"t":"eq","v":"B5","vt":"str"},{"t":"eq","v":"B6","vt":"str"},{"t":"eq","v":"B7","vt":"str"},{"t":"eq","v":"B8","vt":"str"},{"t":"eq","v":"B9","vt":"str"},{"t":"eq","v":"B10","vt":"str"},{"t":"eq","v":"B11","vt":"str"},{"t":"eq","v":"B12","vt":"str"},{"t":"eq","v":"B13","vt":"str"},{"t":"eq","v":"B14","vt":"str"},{"t":"eq","v":"B15","vt":"str"},{"t":"eq","v":"B1+B6","vt":"str"}],"checkall":"false","repair":false,"outputs":16,"x":820,"y":2220,"wires":[["273b972.7fe5068"],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]},{"id":"273b972.7fe5068","type":"obs-raw-request","z":"7805686.aa4fd98","name":"","payload":"payload","payloadType":"msg","obsInstance":"cac3db2f.c8125","x":1220,"y":2120,"wires":[[],[]]},{"id":"2e75cd06.ad39d2","type":"function","z":"7805686.aa4fd98","name":"toggle_rtmp","func":"flow.set(\"toggle_rtmp\", false);\nmsg.payload = {\n    \"request-type\": \"SetSceneItemRender\",\n    \"scene-name\": \"YOUR_SCENE\",\n    \"source\": \"YOUR_SOURCE\",\n    \"render\": flow.get(\"toggle_rtmp\")\n    };\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"toggle_rtmp\", true);","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\nflow.set(\"toggle_rtmp\", true);","x":1010,"y":2120,"wires":[[]]},{"id":"cac3db2f.c8125","type":"obs-instance","name":"","host":"localhost","port":"4444"}]